[Unit]
Description=BlueSpice-Docker startup routinie
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=<WORKDIR>
ExecStart=<WORKDIR>/bluespice-deploy up -d --remove-orphans
ExecStop=bluespice-deploy down
TimeoutStartSec=0
Restart=on-failure
StartLimitInterval=120
StartLimitBurst=2

[Install]
WantedBy=multi-user.target