services:

  proxy:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/proxy:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-proxy
    restart: unless-stopped
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ${DATADIR}/proxy/vhost.d:/etc/nginx/vhost.d
      - ${DATADIR}/proxy/html:/usr/share/nginx/html
      - ${DATADIR}/proxy/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/tmp/docker.sock:ro
    labels:
      - com.github.nginx-proxy.nginx=true

  kerberos-proxy:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/kerberos-proxy:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-kerberosproxy
    restart: unless-stopped
    volumes:
      - ${DATADIR}/kerberos/krb5.conf:/etc/krb5.conf
      - ${DATADIR}/kerberos/kerberos.keytab:/etc/kerberos.keytab
    environment:
      VIRTUAL_HOST: ${WIKI_HOST}

  collabpads:
    environment:
      VIRTUAL_HOST: ${WIKI_HOST}
      VIRTUAL_PATH: ${WIKI_BASE_PATH:-/}_collabpads/
      VIRTUAL_PORT: 8081

  diagram:
    environment:
      VIRTUAL_HOST: ${WIKI_HOST}
      VIRTUAL_PATH: ${WIKI_BASE_PATH:-/}_diagram/
      VIRTUAL_PORT: 8080
      VIRTUAL_DEST: /
