services:
  cache:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/cache:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-cache
    restart: unless-stopped
  pdf:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/pdf:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-pdf
    restart: unless-stopped
  
  formula:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/formula:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-formula
    restart: unless-stopped

  diagram:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/diagram:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-diagram
    restart: unless-stopped

  wire:
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-wire
    image: ${BLUESPICE_SERVICE_REPOSITORY}/wire:${VERSION}
    environment:
      WIRE_LOG_LEVEL: ${WIRE_LOG_LEVEL:-debug}
      WIRE_WIKI_BASE_PATH: http://wiki-web:9090
    secrets:
      - WIRE_API_KEY
      - WIRE_TOKEN_SALT
    restart: unless-stopped

  statisticsdashboard:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/statisticsdashboard:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-statisticsdashboard
    environment:
      MYSL_HOST: ${DB_HOST}
      MYSL_PORT: ${DB_PORT:-3306}
      MYSL_USER: ${DB_USER}
      MYSL_PASSWORD: ${DB_PASS}
    restart: unless-stopped
