services:

  chat:
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-chat
    image: ${BLUESPICE_SERVICE_REPOSITORY}/chat:${VERSION}
    depends_on:
      - wiki-web
    environment:
      CHAT_WIKI_BASE_URL: http://wiki-web:9090
      CHAT_WIKI_ARTICLE_ENDPOINT: ${WIKI_PROTOCOL}://${WIKI_HOST}${WIKI_BASE_PATH:-/}wiki
      CHAT_SLACK_APP_TOKEN: ${SLACK_APP_TOKEN:-}
      CHAT_SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN:-}
      CHAT_SLACK_BOT_NAME: ${SLACK_BOT_NAME:-}
      CHAT_MSTEAMS_BOT_CLIENT_SECRET: ${TEAMS_BOT_CLIENT_SECRET:-}
      CHAT_MSTEAMS_BOT_TENANT_ID: ${TEAMS_BOT_TENANT_ID:-}
      CHAT_MSTEAMS_BOT_APP_ID: ${TEAMS_BOT_APP_ID:-}
      CHAT_MSTEAMS_BOT_APP_TYPE: ${TEAMS_BOT_APP_TYPE:-}
      CHAT_MSTEAMS_BOT_NAME: ${TEAMS_BOT_NAME:-}
      CHAT_ROCKETCHAT_WS_URL: ${ROCKETCHAT_WS_URL:-}
      CHAT_ROCKETCHAT_API_URL: ${ROCKETCHAT_API_URL:-}
      CHAT_ROCKETCHAT_BOT_NAME: ${ROCKETCHAT_BOT_NAME:-}
      CHAT_ROCKETCHAT_USERNAME: ${ROCKETCHAT_USERNAME:-}
      CHAT_ROCKETCHAT_PASSWORD_SHA256: ${ROCKETCHAT_PASSWORD_SHA256:-}
      CHAT_ROCKETCHAT_SUBSCRIBE_CHANNELS: ${ROCKETCHAT_SUBSCRIBE_CHANNELS:-general}
      # parameters for docker-compose.proxy.yml, the default proxy service
      # these are defined here to make the chat service fully optional
      VIRTUAL_HOST: ${WIKI_HOST}
      VIRTUAL_PATH: ${WIKI_BASE_PATH:-/}_chat
      VIRTUAL_PORT: 3002
      VIRTUAL_DEST: /
    secrets:
      - CHAT_BRIDGE_TOKEN
      - CHAT_WIKI_CHAT_TOKEN_SALT
      - CHAT_WIKI_ACCESS_TOKEN
    restart: unless-stopped
  wiki-web:
    environment:
      CHAT_HOST: chat
    secrets:
      - INTERNAL_CHAT_TOKEN
      - INTERNAL_CHAT_WIKI_ACCESS_TOKEN
  wiki-task:
    environment:
      CHAT_HOST: chat
    secrets:
      - INTERNAL_CHAT_TOKEN
      - INTERNAL_CHAT_WIKI_ACCESS_TOKEN
