services: 

  collabpads:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/collabpads:${VERSION}
    container_name: bluespice-collabpads
    restart: unless-stopped
    depends_on:
      collabpads-database:
        condition: service_healthy
        restart: true
    environment:
      COLLABPADS_BACKEND_WIKI_BASEURL: http://wiki-web:9090
      COLLABPADS_BACKEND_MONGO_DB_HOST: collabpads-database
      COLLABPADS_BACKEND_MONGO_DB_PORT: 27017
      COLLABPADS_BACKEND_LOG_LEVEL: info
      COLLABPADS_BACKEND_PORT: 8081
      VIRTUAL_HOST: ${WIKI_HOST}
      VIRTUAL_PATH: /_collabpads/
      VIRTUAL_PORT: 8081

  collabpads-database:
    image: mongo:8.0
    container_name: bluespice-collabpads-database
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      start_period: 5s
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ${DATADIR}/database-collabpads:/data/db

