x-common-environment: &common-environment
  VERSION: ${VERSION}
  EDITION: ${EDITION}
  DATADIR: ${DATADIR}
  WIKI_NAME: ${WIKI_NAME}
  WIKI_LANG: ${WIKI_LANG}
  WIKI_PASSWORDSENDER: ${WIKI_PASSWORDSENDER}
  WIKI_EMERGENCYCONTACT: ${WIKI_EMERGENCYCONTACT}
  WIKI_HOST: ${WIKI_HOST}
  WIKI_PORT: ${WIKI_PORT}
  WIKI_PROTOCOL: ${WIKI_PROTOCOL}

  DB_USER: ${DB_USER}
  DB_PASS: ${DB_PASS}
  DB_HOST: ${DB_HOST}
  DB_NAME: ${DB_NAME}
  DB_PREFIX: ${DB_PREFIX}

  SMTP_HOST: ${SMTP_HOST}

services:
  prepare:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/helper:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-prepare
    volumes:
      - ${DATADIR}:/data
    restart: no
    command: ["prepare-bluespice"]
    environment:
      <<: *common-environment

  upgrade:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/helper:${VERSION}
    depends_on:
      database:
        condition: service_healthy
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-upgrade
    volumes:
      - ${DATADIR}:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      <<: *common-environment

    restart: no
    command: ${UPGRADE_ACTION}

  search:
    depends_on:
      prepare:
        condition: service_completed_successfully

  database:
    depends_on:
      prepare:
        condition: service_completed_successfully

  wiki-installer:
    depends_on:
      upgrade:
        condition: service_completed_successfully
