services:
  cache:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/cache:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-cache
    restart: unless-stopped
  pdf:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/pdf:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-pdf
    restart: unless-stopped
  
  formula:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/formula:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-formula
    restart: unless-stopped

  diagram:
    image: ${BLUESPICE_SERVICE_REPOSITORY}/diagram:${VERSION}
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-diagram
    restart: unless-stopped

  wire:
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-wire
    image: ${BLUESPICE_SERVICE_REPOSITORY}/wire:${VERSION}
    environment:
      # must match settin in `p*-init-settings.php of `bluespice/wiki` container
      WIKI_API_KEY: 
      WIKI_BASE_URL: http://${COMPOSE_PROJECT_NAME:-bluespice}-wiki-web:9090
      WIRE_TOKEN_SALT: 
    restart: unless-stopped

  chat:
    container_name: ${COMPOSE_PROJECT_NAME:-bluespice}-chat
    image: ${BLUESPICE_SERVICE_REPOSITORY}/chat:${VERSION}
    environment:
      BRIDGE_TOKEN: 

      WIKI_ACCESS_TOKEN: 
      WIKI_BASE_URL: http://${COMPOSE_PROJECT_NAME:-bluespice}-wiki-web:9090 #Avoid SSL connection
      WIKI_ARTICLE_ENDPOINT: ${WIKI_PROTOCOL}://${WIKI_HOST}${WIKI_BASE_PATH:-/}wiki
      WIKI_CHAT_TOKEN_SALT: 

      SLACK_APP_TOKEN: ${SLACK_APP_TOKEN:-}
      SLACK_BOT_TOKEN: ${SLACK_BOT_TOKEN:-}
      SLACK_BOT_NAME: ${SLACK_BOT_NAME:-}

      TEAMS_BOT_CLIENT_SECRET: ${TEAMS_BOT_CLIENT_SECRET:-}
      TEAMS_BOT_TENANT_ID: ${TEAMS_BOT_TENANT_ID:-}
      TEAMS_BOT_APP_ID: ${TEAMS_BOT_APP_ID:-}
      TEAMS_BOT_APP_TYPE: ${TEAMS_BOT_APP_TYPE:-}
      TEAMS_WEB_PORT: ${TEAMS_WEB_PORT:-8090}
      TEAMS_BOT_NAME: ${TEAMS_BOT_NAME:-}

      ROCKETCHAT_WS_URL: ${ROCKETCHAT_WS_URL:-}
      ROCKETCHAT_API_URL: ${ROCKETCHAT_API_URL:-}
      ROCKETCHAT_BOT_NAME: ${ROCKETCHAT_BOT_NAME:-}
      ROCKETCHAT_USERNAME: ${ROCKETCHAT_USERNAME:-}
      ROCKETCHAT_PASSWORD_SHA256: ${ROCKETCHAT_PASSWORD_SHA256:-}
      ROCKETCHAT_SUBSCRIBE_CHANNELS: ${ROCKETCHAT_SUBSCRIBE_CHANNELS:-}

    restart: unless-stopped